Crear ruta para ver tus animales y post y poder editarlos, eliminarlos

<a href="/private/animals">My animals</a>

<a href="/private/posts">My posts</a>




<p> Hello, {{ user.username }}. </p>

<a href="/auth/settings">Settings</a>
<a href="/auth/logout">Log Out</a>

