<a href="/animals/">Animals</a>

<a href="/post/">Posts</a>
<a href="/post/new">New post</a>




<p> Hello, {{ user.username }}. </p>

<a href="/auth/settings">Settings</a>
<a href="/auth/logout">Log Out</a>

