<h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="User name">

  <label for="email">Email address</label>  
  <input id="email" type="text" name="email" placeholder="Email address">

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">

  <label for="name">Name</label>  
  <input id="name" type="text" name="name" placeholder="Name">

  <label for="profilePic">Profile picture</label>  
  <input type="file" class="form-control-file" id="profilePic" name="profilePic">


  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>
