<h2>Nuevo comentario</h2>
<form action="/comment/new/{{post._id}}" method="POST" id="form-container">
  <label for="comment">Comentario</label>
  <textarea id="comment" name="comment" class="form-control"></textarea>

  <br>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Crear comentario</button>
</form>
