body {
    font-family: $font;
}

nav {
  height: 80px;

  img {
    margin-top: 25px;
    background-color: #2DA547;
  }
}

.pictureSection{
    background: url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin: 0;
}

.bulletsSectionWrapper{
    margin: 0;
    background-color: #d7e2ee;
    height: 400px;
    padding: 35px;
  }

footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100vw;
  padding: 12px;
  background-color: #f8f9fa!important;
}

.btn {
    margin: 10px !important;
}

#navPic{
  margin-top: 0px !important;
  height: 60px;
}

.navCenter {
  display: flex;
  align-items: center;
}