body {
    font-family: $font;
}

nav {
  height: 80px;
  background-color: $nav-color;

  img {
    margin-top: 25px;
    background-color: $nav-color;
  }
}

.pictureSection{
    background: url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin: 0;
}

.pictureSection2{
  background: url(../images/home-bg2.jpg) no-repeat;
  background-size: cover;
  height: 500px;
}

.bulletsSectionWrapper{
    margin: 0;
    background-color: #2A863E;
    height: 450px;
    padding: 35px;
    color: #014C12;
    display: flex;
    align-items: center;
  }

footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100vw;
  padding: 12px;
  background-color: #126A25!important;
  text-align: center;
}

.btn {
    margin: 10px !important;
}

#navPic{
  margin-top: 0px !important;
  height: 60px;
}

.navCenter {
  display: flex;
  align-items: center;
}