body {
    font-family: 'Times New Roman', Times, serif !important;
}

.pictureSection{
    background: url(../images/background.jpeg) no-repeat;
    background-size: cover;
    height: 400px;
    margin: 0;
}

.bulletsSectionWrapper{
    margin: 0;
    background-color: #d7e2ee;
    height: 400px;
    padding: 35px;
  }

footer {
    margin: 0;
    height: 60px;
    background-color: #f8f9fa!important;
}