.columns{
    display: flex;
    justify-content: space-around;
    max-width: 100% !important;
    text-align: center !important;
}

.map{
    margin: 20px;
}

.mainCol{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
#newComment{
    margin-top: 20px;
}