.circulo {
    border: 5px solid #002E0A;
    border-radius: 35px;
    width: 70px;
    height: 70px;
    padding-top: 20px;
    margin-bottom: 15px;
  }
  
  .textCenter{
      text-align: center;
  }

  i{
      font-size: 22px;
      color: #4EA461;
  }