.listWrapper {
  margin: 80px auto 80px auto !important;
  padding: 50px 100px !important;
  max-width: 1500px !important;
  background-color: $div-container-background-color;
  color: $div-container-font-color;
  box-shadow: $div-container-box-shadow;
  border-radius: $div-container-border-radius;

  .cardWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .card {
      margin: 30px 0;
    }
  }
}

.row {
  justify-content: space-evenly;
}

.animalWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 250px;
}

.card-img-top {
    max-width: 100%;
    max-height: 280px;
}


.images{
    width: 250px;

    img {
      max-width: 100%;
      max-height: 250px;
      height: 200px;
    }
}

.row{
  margin-top: 50px !important;
}

.rowCenter{
  text-align: center;
}

.red{
  color: red;
}

.black{
  font-weight: 700;
}

#find {
  padding: 0 10px !important;
  width: 90px;
}
