@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font: 'Open Sans', sans-serif;

//Nav bar
$nav-color: #126A25;


//Div container
$div-container-background-color: #AFE3BA; //F8F8F8
$div-container-font-color: #464D61;
$div-container-box-shadow: 10px 10px 20px 5px #CCC;
$div-container-border-radius: 5px;

