@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font: 'Open Sans', sans-serif;

//Nav bar



//Div container
$div-container-background-color: #F8F8F8;
$div-container-font-color: #464D61;
$div-container-box-shadow: 0 10px 15px #CCC;
$div-container-border-radius: 5px;
